#game{
    display: flex;
    width: 70vmin;
    height: 70vmin;
    margin: 10vmin auto 2vmin auto;
    background-image: url('./dome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    

    #play-button {
        position: absolute;
        height: 200px;
        width: 200px;
        transform: translateX(-50%) translateY(-50%);
        
    }    

    #instruction {
        position: absolute;
        font-size: 40px;
        font-family:'Lucida Sans';
        color:rgb(45, 145, 75);
        background-color: white;
        padding: 10px 10px;
        border-radius: 10px
        }
}



#powerbar {
    width: 70vmin;
    margin: 0 auto;
    height: 5vmin;
    background: white;
    border: 2px solid blue;
    border-radius: 10px;
    display: flex;

    #powerbar-fill  {
        width: 20%;
        background: blue;    
    }
}
    
#ball {
    position: absolute;
    height: 6%;
    width: 6%;
    background: white;
    left: 50%;
    bottom: 0;
    border-radius: 100%;
    transform: translateX(-50%) translateY(-50%);
    top: 97%;
}
body {
	background-color: #666;	
    
}
